/* Condensed Meyer Reset */
* {
  box-sizing: border-box;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
fieldset,
img {
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* Colors */
:root {
  --black: #343434;
  --white: #fffaf0;
  --text-white: #ffffff;
  --cream: #ffdab9;
  --blue: #1c3144;
  --dark-green: #3e826c;
  --green: #60d394;
  --light-green: #aaf683;
  --yellow: #ffd97d;
  --pink: #ff9b85;
  --red: #f17067;
}

/* Global */
body {
  line-height: 1;
  background: var(--white);
  color: var(--black);
  font-family: 'Inter', sans-serif;
  font-size: 1.15rem;
}
main {
  height: 100%;
  /* max-width: 600px; */
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  /* position for nav-toggle to reference */
  position: relative;
}
.row {
  display: flex;
  justify-content: space-between;
}
h1,
h2 {
  font-family: 'Noto Serif', serif;
  font-weight: 800;
  line-height: 1;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
}
section {
  padding: 4em 0;
}
.btn {
  display: inline-block;
  background: var(--black);
  color: var(--white);
  font-weight: 600;
  font-size: 1.15rem;
  padding: 0.75em 2em;
  border-radius: 2rem;
  text-transform: uppercase;
}
@keyframes bounce {
  0%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-0.5em);
  }
}
.btn:hover {
  animation: bounce 0.6s cubic-bezier(0.36, -0.53, 0.52, 1.31);
}

/* Navigation */
header {
  padding: 1em 0;
  background: var(--white);
  color: var(--black);
}
.container.row__nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}
.row__nav {
  display: block; /* this works around row style */
}
/* .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
} */
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background: var(--white);
  color: var(--black);
  transition: opacity 0.3s ease;
  position: absolute;
  top: 1rem;
  right: 2em;
}
.hamburger {
  width: 100%;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: var(--black);
}
.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}
.hamburger::before {
  transform: translateY(-0.75em);
}
.hamburger::after {
  transform: translateY(0.5em);
}
.nav__logo__wrapper {
  display: flex;
  align-items: center;
}
.nav__logo__text {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 0.25em;
}
.nav__logo__text__span {
  vertical-align: text-top;
}
.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--white);
}
@keyframes slideDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.nav__list {
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5em;
}
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
  animation: slideDown 0.3s ease-in-out forwards;
  transform-origin: top center;
}
.nav__item {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
.nav__item:hover {
  text-decoration: underline var(--black) 2px;
}

/* Footer */
footer.container {
  margin: 0;
  padding: 3em 0;
  width: 100%;
  max-width: 100%;
  background: var(--dark-green);
  color: var(--text-white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.home footer p, .about footer p {
  margin-bottom: 0;
  padding-bottom: 0;
}
footer .col__icons {
  display: flex;
  gap: 1em;
}
.col__icons img {
  width: 2.5rem;
  height: 2.5rem;
}

/* Welcome Page */
/* Welcome Grid Styles */
.section-two .row,
.section-three .row,
.section-four .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  justify-items: center;
  align-items: center;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}
.home h2 {
  margin-bottom: 1em;
}
.home main p {
  margin-bottom: 1em;
  line-height: 1.25;
}
.col__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.intro {
  background: var(--yellow);
  padding: 6em 0;
  text-align: center;
}
.intro__text {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1rem;
  margin-bottom: 1em;
}
.intro__title {
  font-size: 2.5rem;
}
.section-two {
  background: var(--white);
}
.section-three {
  background: var(--black);
  color: var(--text-white);
}
.section-three .btn.calc {
  background: var(--white);
  color: var(--black);
}
.section-four {
  background: var(--cream);
}

/* Calculator Page */
.calc main {
  background: var(--black);
  color: var(--white);
}
.calc-container {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid green;
}


/* About Page */
/* .about h1 {
  margin-bottom: 2em;
} */
.about section {
  padding: 4rem 0;
}
.about h2 {
  margin-bottom: 1em;
}
.about p {
  line-height: 1.35;
  margin-bottom: 1em;
}
.about p:last-of-type {
  margin-bottom: 0;
}
.about main {
  max-width: 100%;
  background-color: var(--cream);
}
.heading-container {
  margin: 0 auto;
  padding: 4rem 0 0;
  text-align: center;
  /* display: grid;
  justify-content: start;
  align-items: center;
  grid: 1fr / 1fr; */
  width: 85%;
  max-width: 900px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.section__float-img {
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
  width: 150px;
  max-width: 150px;
  shape-outside: circle(50%);
  border-radius: 50%;
  padding: .25em;
}
.section__float-img.left {
  float: left;
  margin-right: 1em;
}
.section__float-img.right {
  float: right;
  margin-left: 1em;
}
.about .indent {
  text-indent: 2em;
}
.about-two {
  background: var(--white);
}
.sidebar {
  padding: 4rem 0;
  background-color: var(--black);
  color: var(--white);
}

/* Media Queries */
@media (min-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .intro__title {
    font-size: 3rem;
  }
  .container.row__nav {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .nav {
    width: auto;
    max-width: 1000px;
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    position: relative;
  }
  .nav-toggle {
    display: none;
  }
  .nav__list {
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    position: relative;
    padding: 0;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }

  /* Footer */
  footer .row {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* About */
  .section__float-img {
    width: 25%;
    max-width: 250px;
  }
  section.about-one p.indent {
    text-indent: 0;
  }

  /* Home > Tablet */
  /* SOMETHING HERE IS SCREWING WITH MOBILE SHRINKING? */
  .section-three .col__text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .section-three .col__img {
    grid-column: 1 / 2;
  }
}
@media (min-width: 1200px) {
  /* TO DO: SIDEBAR LAYOUT W/ GRID AT THIS BREAK PT */
  header {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  h2 {
    font-size: 2rem;
  }
  .home .container {
    max-width: 1200px;
  }
  .home .container.footer {
    max-width: 100%;
  }
  .home .container.row__nav, footer .row {
    max-width: 1400px;
  }
  .home main p {
    margin-bottom: 1.5em;
  }
  .home img {
    max-width: 350px;
  }
  /* About Grid Layout Shift */
  .about main {
    background: var(--white);
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: auto-fit;
  }
  .about .heading-container {
    background: var(--cream);
    width: 100%; /* reset from 85% to make color span full page */
    max-width: 100%; /* reset to make bgcolor span full page */
    padding-top: 5rem;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .heading__text {
    margin: 0 auto;
    max-width: 80%;
  }
  .about .container {
    margin: 0 auto;
    width: 100%; /* reset from 85% to make color span full page */
    max-width: 100%; /* reset from single col max */
  }
  .about section .section__float-img.left {
    max-width: 250px;
  }
  .about .about-one {
    background: var(--cream);
    padding-bottom: 5rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .about-one .content-wrapper {
    max-width: 80%;
  }
  .about .about-two {
    padding-top: 6rem;
    padding-right: 4rem;
    padding-bottom: 5rem;
    grid-column: 1 / 2;
  }
  .about-two .content-wrapper {
    padding-left: 10vw;
  }
  .about section h2 {
    font-size: 2rem;
  }
  .about .sidebar {
    grid-column: 2 / 3;
    margin-top: 5rem;
    margin-right: 10vw;
    margin-bottom: 5rem;
    padding: 4rem 3em;
  }
  .sidebar h2 {
    clear: both;
    text-align: center;
  }
  .sidebar .section__float-img.right {
    width: 50%;
    border-radius: 50%;
    shape-outside: circle(50%);
    padding: .25em;
  }
  .sidebar .indent {
    text-indent: 0;
  }
  .sidebar p.indent + p {
    text-indent: 2em;
  }
}
