/* Condensed Meyer Reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
fieldset,
img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
* {
  box-sizing: border-box;
}

/* Colors */
:root {
  --black: #343434;
  --white: #fffaf0;
  --green: #60d394;
  --light-green: #aaf683;
  --yellow: #ffd97d;
  --pink: #ff9b85;
  --red: #ee6055;
}

/* Global */
body,
html {
  height: 100vh;
}
body {
  line-height: 1;
  /* padding: 0;
  width: 100%;
  position: relative; */
  background: var(--white);
  color: var(--black);
  font-family: 'Inter', sans-serif;
}
main {
  height: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue;
}
.container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between
}
h1, h2 {
  /* font-family: 'Noto Serif', serif; */
  font-weight:700
}
h1 {
  font-size: 1.5rem;
  margin-left: .25em;
}
.btn {
  display: inline-block;
  background: var(--black);
  color: var(--white);
  font-weight: 600;
  padding: .75em 2em;
  border-radius: 2rem;
}

/* Navigation */
header {
  background: #f5f7d1;
  padding: 1em 0;
}
.row__nav {
  display: block; /* this works around row style */
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo__wrapper {
  display: flex;
  align-items: center;
  border: 1px solid green;
}
.nav__logo {
  border: 1px solid red;
}
.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid red;
}
.nav__item {
  text-transform: uppercase;
}

/* Welcome Page */
h2 {
  font-size: 2rem;
}

/* Calculator Page */
.calc-container {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  border: 1px solid green;
}

.calc-img-wrapper {
  background-image: url(images/bg-juice-home-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  border: 1px solid deeppink;
}

/* About Page */